body, html {
  height: 100%;
  margin: 0;
  font-family: 'Times New Roman', Times, serif, "Segoe UI";
  background-color: #f0f2f5;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.auth-wrapper {
  width: 100%;
  max-width: 450px;
}

.card {
  border: none;
  border-radius: 0.75rem;
}

.form-control {
    min-height: 3.5rem;
}